@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    .btn-primary {
        @apply bg-transparent dark:bg-gray-800 
               hover:bg-blue-500 dark:hover:bg-blue-600 
               text-blue-700 dark:text-blue-400 
               font-semibold 
               hover:text-white dark:hover:text-white 
               py-2 px-4 
               border border-blue-500 dark:border-blue-400 
               hover:border-transparent 
               rounded w-[50px] h-[40px] 
               flex items-center justify-center 
               cursor-pointer;
    }
    
    h1 {
        @apply text-4xl font-bold;
    }
    h2 {
        @apply text-3xl font-bold;
    }
    h3 {
        @apply text-2xl font-bold;
    }
    h4 {
        @apply text-xl font-bold;
    }
    h5 {
        @apply text-lg font-bold;
    }
    h6 {
        @apply text-base font-bold;
    }
}